@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* ----------------------------------------------------------------- */
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.8rem;
  min-height: 30rem;
  min-width: 55rem;
  padding: 0 4rem;
  box-shadow: 1rem 1rem 1.5rem #000;
}
.signin {
  display: flex;
  align-items: center;
  max-height: 100%;
  height: 18rem;
}
.signin h2 {
  font-size: 2rem;
  text-align: center;
  color: #0000f5;
  margin-bottom: 5rem;
}
.input-group {
  display: flex;
  align-items: center;
  width: 18rem;
  border-bottom: 2px solid #000;
  padding: 0rem 0 .4rem .5rem;
  margin: 1.8rem 0;
  position: relative;
}
.input-group input {
  width: 100%;
  border: 0;
  outline: 0;
  background: none;
  margin-left: 1rem;
}
.password-btn {
  position: absolute;
  top: .2rem;
  right: .3rem;
  cursor: pointer;
}
.signin-img img {
  display: block;
  margin: 1rem 0;
  width: 12rem;
}
.submit-btn {
  border: 0;
  outline: 0;
  border-radius: 0.3rem;
  padding: 0.6rem 1.5rem;
  background: #990099;
  color: #fff;
  cursor: pointer;
}
